@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



:root {
    --font1: 'Barlow';
    --font2: sans-serif;
    --cor1: #3F59A6;
    --cor2: #5C82F2;
    --cor3: #23232e;
    --titulo: white;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
}

html, body {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    font-family: var(--font1, sans-serif);
    background-color: rgb(255, 255, 255);
}

a {
    color: var(--cor3);
    transition: 0.3s;
}

a:hover {
    opacity: 0.7;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* background: var(--cor3); */
    height: 8vh;
    margin-top: 15px;
}
/*Logo principal do site*/
.logo {
    font-family: var(--font1);
    font-size: 32px;
    font-weight: 300;
    text-transform: uppercase;
    text-decoration: none;
    color: var(--cor3);
    letter-spacing: 4px;
} 

.nav-list {
    list-style: none;
    display: flex;
    font-size: 20px;
}

.nav-list li {
    letter-spacing: 3px;
    margin-left: 32px;
}
.nav-list.active {
    transform: translateX(0);
}

.mobile-nav{
    list-style: none;
    display: none;
    font-size: 20px;
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}


#burguer{
    color: var(--font2);
    display: none;
    font-size: 32px;
    padding: 10px;
    cursor: pointer;
    transition: 0.3s;
}

#burguer:hover{
    color: var(--cor3);
    opacity: 0.7;
}

.conteudo{
    margin-bottom: 15px;
    margin-top: 48px;
}

.conteudo-principal {
    background-color: white;
    box-sizing: border-box;
    padding: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 60px;
}

img{
    max-width: 80vh;
}

.conteudo-principal-titulo {
    font-size: 50px;
    text-transform: uppercase;
    font-weight: 600;
    padding: 0 0 5px 15px;
    color: var(--cor3);
}

.conteudo-principal-escrita {
    display: flex;
    flex-direction: column;
    gap: 5px;
    color: var(--cor3);
}

.conteudo-principal-paragrafo{
    padding: 0 15px 0 15px;
    text-indent: 15px;
    max-width: 70vh;
    text-align: justify;
    line-height: 2em;
    font-size: 1em;
}

svg {
    margin: 10px 10px 10px 5px;
    width: 50px;
    height: 50px;
}

.sociais path {
    fill: var(--cor3);
    display: inline;
    transition: 0.3s;
}

.sociais:hover path {
    opacity: 0.7;
}

.livroLink{
    color: var(--cor3);
    font-weight: 600;
}

@media (max-width: 1200px){
    
    .conteudo-principal-titulo{
        text-align: center;
    }
    
    .conteudo{
        margin-bottom: 15px;
        margin-top: 0;
        overflow: hidden;
    }
    .conteudo-principal {
        display: flex;
        flex-direction: row;
        max-width: 90%;
        margin: auto;
        align-items: center;
        justify-content: space-around;
    }

    img {
        max-width: 60%;
    }

    svg {
        width: 40px;
    }
}

@media (max-width: 990px){

    nav {
        text-align: center;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-content: space-around;
        align-items: center;
        height: 8vh;
        
    }
    .logo{
        font-size: 36px;
        margin-top: 15px;
        padding: 10px;
    }
    #burguer{
        color: var(--font2);
        display: flex;
        font-size: 36px;
        padding: 0px 0px 0px 10px;
        cursor: pointer;
        margin-top: 15px;
        margin-bottom: 0px;
        transition: 0.3s;
    }
    
    #burguer:hover{
        color: var(--cor3);
    }
    .mobile-container{
        text-align: center;
    }
    .mobile-nav {
        display: none;
        font-size: 1.3em;
        transition: 0.3s;
        padding: 10px;
    }
    .nav-list {
        list-style: none;
        display: none;
        font-size: 15px;
        padding-bottom: 10px;
        }
    .conteudo-principal-titulo{
        text-align: center;
        font-size: 32px;
    }
    
    .conteudo{
        margin-bottom: 15px;
        margin-top: 0;
        overflow: hidden;
    }
    .conteudo-principal {
        display: flex;
        flex-direction: column;
        max-width: 90%;
        margin: auto;
        align-items: center;
        justify-content: space-around;
    }

    img {
        max-width: 80%;
    }

    svg {
        width: 40px;
    }
}

@media (max-width: 765px){
    nav {
        text-align: center;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-content: space-around;
        align-items: center;
        height: 8vh;
        
    }

    .logo{
        font-size: 36px;
        margin-top: 15px;
        padding: 10px;
    }
    #burguer{
        color: var(--font2);
        display: flex;
        font-size: 36px;
        padding: 0px 0px 0px 10px;
        cursor: pointer;
        margin-top: 15px;
        margin-bottom: 0px;
        transition: 0.3s;
    }
    
    #burguer:hover{
        color: var(--cor3);
    }
    
    .mobile-container{
        text-align: center;
    }
    .mobile-nav {
        display: none;
        font-size: 1.3em;
        transition: 0.3s;
        padding: 10px;
    }
    .nav-list {
        list-style: none;
        display: none;
        font-size: 15px;
        padding-bottom: 10px;
        }

    .conteudo-principal-titulo{
        text-align: center;
    }
    
    .conteudo{
        margin-bottom: 15px;
        margin-top: 0;
        overflow: hidden;
    }
    .conteudo-principal {
        display: flex;
        flex-direction: column;
        max-width: 90%;
        margin: auto;
        align-items: center;
        justify-content: space-around;
    }

    img {
        max-width: 80%;
    }

    svg {
        width: 40px;
    }
}

@media (max-width: 420px){
    nav {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-content: space-around;
        align-items: center;
        height: 8vh;
        text-align: center;
        
    }

    .logo{
        font-size: 26px;
        margin-top: 15px;
        padding: 10px 10px 0px 10px;
    }
    #burguer{
        color: var(--font2);
        font-size: 36px;
        padding: 5px;
        cursor: pointer;
        margin-top: 1px;
        transition: 0.3s;
    }
    
    #burguer:hover{
        color: var(--cor3);
    }

    .mobile-container{
        text-align: center;
        margin: 0;
    }
    .mobile-nav {
        display: none;
        font-size: 1.3em;
        transition: 0.3s;
        padding: 10px 10px 0px 10px;
    }

    .nav-list {
        list-style: none;
        display: none;
        font-size: 15px;
        padding-bottom: 10px;
        }
    
    .conteudo-principal-titulo{
        text-align: center;
        font-size: 32px;
        padding: 0px 15px 15px 15px;
    }
    
    .conteudo{
        margin-bottom: 15px;
        margin-top: 15px;
        overflow: hidden;
        font-size: 0.9em;
    }
    .conteudo-principal {
        display: flex;
        flex-direction: column;
        max-width: 90%;
        margin: auto;
        align-items: center;
        justify-content: space-around;
        text-align: center;
    }

    img {
        max-width: 80%;
    }

    svg {
        width: 35px;
    }
    .rodape{
        text-align: center;
        padding: 15px;
        font-size: 14px;
    }
}

.rodape{
    bottom: 0;
    height: 100%;
        width: 100%;
        text-align: center;
}

