@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



:root {
    --font1: 'Barlow';
    --font2: sans-serif;
    --cor1: #3F59A6;
    --cor2: #5C82F2;
    --cor3: #23232e;
    --titulo: white;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
}

html, body {
    font-family: var(--font1, sans-serif);
    background-color: rgb(228, 228, 228);
    overflow-x: hidden;
    height: 100vh;
    width: 100vw;
}

a {
    color: #fff;
    transition: 0.3s;
}

a:hover {
    opacity: 0.7;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: var(--cor3);
    height: 8vh;
}
/*Logo principal do site*/
.logo {
    font-family: var(--font1);
    font-size: 24px;
    font-weight: 300;
    text-transform: uppercase;
    text-decoration: none;
    color: var(--titulo);
    letter-spacing: 4px;
} 

.nav-list {
    list-style: none;
    display: flex;
}

.nav-list li {
    letter-spacing: 3px;
    margin-left: 32px;
}

.mobile-menu {
    display: none;
    cursor: pointer;
}

.mobile-menu div {
    width: 32px;
    height: 2px;
    background: #fff;
    margin: 8px;
    transition: 0.3s;
}

/* @media (max-width: 999px) {
    body {
        overflow-x: hidden;
    }
    .nav-list {
        position: absolute;
        top: 8vh;
        right: 0;
        width: 50vw;
        height: 92vh;
        background: var(--cor3);
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translateX(100%);
        transition: transform 0.3s ease-in;
    }

    .nav-list li {
        margin-right: 0;
        opacity: 0;
    }

    .mobile-menu {
        display: block;
    }
} */

.nav-list.active {
    transform: translateX(0);
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.mobile-menu.active .line1{
    transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2{
    opacity: 0;
}

.mobile-menu.active .line3{
    transform: rotate(45deg) translate(-5px, -7px);
}

.conteudo{
    margin-bottom: 15px;
    margin-top: 48px;
}

.conteudo-principal {
    background-color: white;
    box-sizing: border-box;
    padding: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

img{
    max-width: 80vh;
}

.conteudo-principal-titulo {
    font-size: 50px;
    text-transform: uppercase;
    font-weight: 600;
    padding: 0 0 5px 15px;
    color: var(--cor3);
}

.conteudo-principal-escrita {
    display: flex;
    flex-direction: column;
    gap: 5px;
    color: var(--cor3);
}

.conteudo-principal-paragrafo{
    padding: 0 15px 0 15px;
    text-indent: 15px;
    max-width: 70vh;
    text-align: justify;
    line-height: 2em;
    font-size: 1em;
}

svg {
    margin: 10px 10px 10px 5px;
    width: 50px;
    height: 50px;
}

.sociais path {
    fill: var(--cor3);
    display: inline;
    transition: 0.3s;
}

.sociais:hover path {
    opacity: 0.7;
}

.livroLink{
    color: var(--cor3);
    font-weight: 600;
}

@media (max-width: 999px){
    .conteudo{
        margin-bottom: 15px;
        margin-top: 0;
        overflow: hidden;
    }
    .conteudo-principal {
        display: flex;
        flex-direction: column;
        max-width: 80%;
        margin: auto;
        align-items: center;
        justify-content: space-around;
    }

    img {
        max-width: 80vh;
    }

    svg {
        width: 40px;
    }
    
}

footer{
        position: absolute;
        bottom: 0;
        width: 100%;
        color: white;
        text-align: center;
        background-color: var(--cor3);
        padding: 15px;
        margin-bottom: 0;
}

